body.preferences {
  background: #ECECEC;
  color: #0C1E3A;

  #container {
    padding: 20px 30px;

    // OSX like button
    .btn {
      font-size: 12px;
      padding: 2px 10px;
      margin-right: 1ch;

      &:last-child {
        margin-right: 0;
      }
    }

    .control-label {
      padding-top: 7px;
      text-align: right;
    }

    .col-xs-8.checkbox {
      float: none;
    }

    .form-group.databaseFolder, .form-group.notificationSoundPath {
      .db-path {
        line-height: 34px;
        background: #eee;
        margin-bottom: 4px;
        padding: 0 8px;
      }

      .button-bar {
        padding-right: 15px;
        float: right;
      }
    }

    .exportToCSV {
      margin-top: 40px;

      #exportToCSV {
        margin-top: 6px;
      }
    }

    .form-footer {
      border-top: 1px solid #888;
      width: 100%;
      text-align: right;
      margin-top: 20px;
      padding-top: 20px;
    }
  }
}
