@import "./preferences.scss";

html, body {
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  overflow: hidden;
  height: 100%;
  width: 100%
}

// Fixes bootstrap-select
//.bootstrap-select.btn-group .dropdown-menu li.selected a span.check-mark {
//  display: inline-block;
//}
