body.dashboard {

  $d3-colors: (
          #98abc5,
          #8a89a6,
          #7b6888,
          #6b486b,
          #a05d56,
          #d0743c,
          #ff8c00,
          #a05d56,
          #d0743c,
          #ff8c00
  );

  @for $i from 0 through 9 {
    .series-#{$i} {
      background-color: nth($d3-colors, $i + 1);
      border-color: darken(nth($d3-colors, $i + 1), 50%);

      .text {
        @if lightness(nth($d3-colors, $i + 1)) > lightness(#aaa) {
          color: black;
        } @else {
          color: white;
        }
      }
    }

    .subbar.series-#{$i} {
      fill: nth($d3-colors, $i + 1);
    }

    .legend-icon.series-#{$i} {
      fill: nth($d3-colors, $i + 1);
    }

    .goal-line.series-#{$i} {
      stroke: lighten(nth($d3-colors, $i + 1), 20%);
    }

    .dashboard-graph .legends .legend-item.series-#{$i}.inactive {
      background-color: #999;
      color: #666;

      .project-time {
        color: #ccc;
      }
    }
  }

  .subbar {
    transition: height 0.5s ease;
    transform: rotate(180deg);
    transform-origin: 50% 0;
  }

  .d3-tooltip {
    padding: 5px 14px;
    border: 1px solid;
    text-align: center;
    border-radius: 4px;

    .text {
      font-weight: bold;
    }
  }

  .interval-selection {
    padding: 8px 14px;
    background: #eee;
    border-bottom: 1px solid #444;

    .title {
      display: inline-block;
      line-height: 32px;
      font-weight: bold;
      font-size: 20px;
    }

    .pickers {
      float: right;
      width: 50%;
    }

    .btn-group.bootstrap-select {
      width: 50%;
    }
  }

  .dashboard-graph {
    position: relative;

    .d3-container {
      display: inline-block;
      width: 700px;
      overflow: hidden;
    }

    .legends {
      padding: 0;
      width: 150px;
      overflow: hidden;
      display: inline-block;
      vertical-align: top;
      position: absolute;
      top: 50%;
      right: 0;
      transform: translate(0, -50%);

      .legend-item {
        list-style: none;
        text-align: center;
        width: 130px;
        padding: 10px;
        display: inline-block;
        cursor: pointer;

        .project-name {
          font-size: 20px;
          padding-bottom: 8px;
        }

        .project-time {
          color: white;
          font-size: 18px;
          font-weight: bold;
        }
      }
    }
  }
}
